@use "variables" as *;

.footer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $white;
	border-top: 1px solid $dark-gray;
	height: pxVw(180);
	text-align: center;
	flex-shrink: 0;
	
		img {
			width: 17.037vw;
			height: auto;
		}
	
		.admin-btn {
			position: absolute;
			top: 50%;
			right:0;
			width: pxVw(200);
			height: 100%;
			opacity: 0;
			transform: translateY(-50%);
		}
	
}