@use "../partials/variables" as *;

/* Dashboard */
.dashboard-view {
	
		.view-content {
			gap: 0;
			padding-top: pxVw(98);

				.view-hero {
					margin-bottom: pxVw(75);
				}

		}
		
		.view-trivia {

				.trivia-header {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: pxVw(24) 0;
					margin: pxVw(16) 0;

						hr {
							position: absolute;
							top: 50%;
							left: 0;
							right: 0;
							border: pxVw(2) solid $black;
							width: 100%;
							margin: 0;
							z-index: -1;
						}
						
						p {
							display: inline-block;
							padding: 0 pxVw(24);
							background: $white;
							font-weight: 600;
							line-height: 1;
						}
						
				}

		}
		
		.card.dashboard-card {

				.image-container {
					flex: 0 0 pxVw(160);
					width: pxVw(160);
					aspect-ratio: 1 / 1;
					margin-right: pxVw(36);
				}

				.row-icon {
					display: grid;
					grid-template-columns: 1fr;

						svg {
							grid-area: 1 / 1;
						}

						.check {
							opacity: 0;
						}

						.arrow {
							opacity: 1;
						}

				}
				
				p {
					text-wrap: unset;
				}

				&:hover, &:active {

						.row-icon svg {
							transform: scale(1.19);
						}

				}
				
				/* Fix for persistent :active state on touch devices */
				&:not(:focus):not(:hover):not(:active) {
					.row-icon svg {
						transform: scale(1);
					}
				}

				&.visited {
					background: $light-gray;
					box-shadow: $shadow-hover;

						.row-icon {

							.check {
								opacity: 1;
							}

							.arrow {
								opacity: 0;
							}
						}

						[class*="icon"] {
							color: $red;
						}

				}

		}
		
		&#businessDashboard {

				.trivia-card .card__wrap {
					aspect-ratio: 1 / 1;
				}

		}

		&#technicalDashboard {

				.trivia-card .card__wrap {
					aspect-ratio: 283 / 240;
				}

		}
	
}